# AL
.vscode/
.alcache/
.alpackages/
.snapshots/
.output/
*.app
rad.json
*.g.xlf
*.flf
TestResults.xml

# Node
node_modules

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test
test.ts
# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Firebase
src/lib/config/firebase/serviceAccount.json
